In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score

In [2]:
df = pd.read_csv('Cluster_2025.04.16_04.44.28.csv')

In [5]:
df.head()

,star_id,region,ra,dec,starthjd,endhjd,bmag,berr,vmag,verr,rmag,rerr,imag,ierr,lcfil,npts
0,NGC2301_Center_2,NGC2301,103.0431,0.4158,2453047.76,2453058.94,11.139,0.002,NaN,NaN,11.083,0.003,NaN,NaN,R,167
1,NGC2301_Center_3,NGC2301,102.9154,0.4254,2453047.76,2453058.94,12.193,0.001,NaN,NaN,11.869,0.005,NaN,NaN,R,167
2,NGC2301_Center_4,NGC2301,102.9629,0.4276,2453047.76,2453058.94,11.976,0.001,NaN,NaN,11.460,0.003,NaN,NaN,R,167
3,NGC2301_Center_5,NGC2301,103.0485,0.4260,2453047.76,2453058.94,11.065,0.002,NaN,NaN,10.992,0.003,NaN,NaN,R,167
4,NGC2301_Center_6,NGC2301,102.9760,0.4326,2453047.76,2453058.94,11.914,0.002,NaN,NaN,11.668,0.005,NaN,NaN,R,167

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138935 entries, 0 to 138934
Data columns (total 16 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   star_id   138935 non-null  object
 1   region    138935 non-null  object
 2   ra        138935 non-null  float64
 3   dec       138935 non-null  float64
 4   starthjd  138935 non-null  float64
 5   endhjd    138935 non-null  float64
 6   bmag      3961 non-null    float64
 7   berr      3961 non-null    float64
 8   vmag      127364 non-null  float64
 9   verr      127364 non-null  float64
 10  rmag      3961 non-null    float64
 11  rerr      3961 non-null    float64
 12  imag      131440 non-null  float64
 13  ierr      131440 non-null  float64
 14  lcfil     138935 non-null  object
 15  npts      138935 non-null  int64
dtypes: float64(12), int64(1), object(3)
memory usage: 17.0+ MB